
  .prodDetails {
    width: 68.875em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: 6.25em 40em 19.5em;
    column-gap: 7px;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
  }
  
  .prodDetails__sideImg img {
    width: 4.9375em;
    height: 5em;
    object-fit: contain;
  }
  
  .prodDetails__sideImg img:hover {
    cursor: pointer;
  }
  
  .prodDetails__bigImg img {
    width: 38.125em;
    height: 31.9375em;
    object-fit: contain;
  }
  
  .prodDetails__prodInfo {
    width: 100%;
  }
  .prodDetails__prodInfo__title {
    width: 100%;
  }
  
  .prodDetails__prodInfo__title h2 {
    margin-top: 5px;
    font-size: 30px;
    color: #1d1f22;
    font-family: "Raleway";
    font-weight: 600;
  }
  
  .prodDetails__prodInfo__title h3 {
    margin-top: -10px;
    font-size: 30px;
    color: #1d1f22;
    font-family: "Raleway";
    font-weight: normal;
  }
  
  .prodDetails__prodInfo__attr {
    height: auto;
  }
  
  .attrBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .prodDetails__prodInfo__attr h4 {
    margin-bottom: 5px;
    font-family: "Roboto condensed";
  }
  
  .prodDetails__prodInfo__size {
    width: 3.9375em;
    height: 2.8125em;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
  }
  
  .prodDetails__prodInfo__size:not(:first-of-type) {
    margin-left: 7px;
  }
  .prodDetails__prodInfo__size h4 {
    margin-top: 11px;
    font-family: "Roboto condensed";
    font-size: 18px;
  }
  
  .prodDetails__prodInfo__size h3 {
    margin-top: 11px;
    font-size: 16px;
    font-family: "Source Sans Pro";
    font-weight: 400;
  }
  
  .prodDetails__prodInfo__size:hover {
    cursor: pointer;
  }
  
  .clickedSizeBox {
    background-color: black;
    color: white;
    width: 3.9375em;
    height: 2.8125em;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
  }
  
  .clickedSizeBox:not(:first-of-type) {
    margin-left: 7px;
  }
  
  .clickedSizeBox h4 {
    margin-top: 11px;
    font-family: "Roboto condensed";
    font-size: 18px;
  }
  
  .clickedSizeBox h3 {
    margin-top: 11px;
    font-size: 16px;
    font-family: "Source Sans Pro";
    font-weight: 400;
  }
  
  .clickedSizeBox:hover {
    cursor: pointer;
  }
  
  .prodDetails__prodInfo__usb {
    width: 3.9375em;
    height: 2.8125em;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
  }
  
  .prodDetails__prodInfo__usb:hover {
    cursor: pointer;
  }
  
  .prodDetails__prodInfo__usb h4 {
    margin-top: 11px;
    font-family: "Roboto condensed";
    font-size: 18px;
  }
  .prodDetails__prodInfo__usb h3 {
    margin-top: 11px;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
  }
  
  .prodDetails__prodInfo__usb:not(:first-of-type) {
    margin-left: 7px;
  }
  .clickedUsbBox {
    background-color: black;
    color: white;
    width: 3.9375em;
    height: 2.8125em;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
  }
  .clickedUsbBox:hover {
    cursor: pointer;
  }
  
  .clickedUsbBox h4 {
    margin-top: 11px;
    font-family: "Roboto condensed";
    font-size: 18px;
  }
  .clickedUsbBox h3 {
    margin-top: 11px;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
  }
  
  .clickedUsbBox:not(:first-of-type) {
    margin-left: 7px;
  }
  
  .prodDetails__prodInfo__touch {
    width: 3.9375em;
    height: 2.8125em;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
  }
  
  .prodDetails__prodInfo__touch:hover {
    cursor: pointer;
  }
  
  .prodDetails__prodInfo__touch:not(:first-of-type) {
    margin-left: 7px;
  }
  
  .prodDetails__prodInfo__touch h4 {
    margin-top: 11px;
    font-family: "Roboto condensed";
    font-size: 18px;
  }
  .prodDetails__prodInfo__touch h3 {
    margin-top: 11px;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
  }
  .clickedTouchBox {
    background-color: black;
    color: white;
    width: 3.9375em;
    height: 2.8125em;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
  }
  .clickedTouchBox:hover {
    cursor: pointer;
  }
  
  .clickedTouchBox:not(:first-of-type) {
    margin-left: 7px;
  }
  
  .clickedTouchBox h4 {
    margin-top: 11px;
    font-family: "Roboto condensed";
    font-size: 18px;
  }
  .clickedTouchBox h3 {
    margin-top: 11px;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
  }
  
  .prodDetails__prodInfo__color {
    width: 3.9375em;
    height: 2.8125em;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
  }
  
  .prodDetails__prodInfo__color:not(:first-of-type) {
    margin-left: 7px;
  }
  
  .prodDetails__prodInfo__color p {
    font-size: 0.3rem;
    opacity: 0;
  }
  
  .prodDetails__prodInfo__color:hover {
    cursor: pointer;
  }
  
  .clickedColorBox {
    width: 3.9375em;
    height: 2.8125em;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 3px solid red !important;
  }
  .clickedColorBox:not(:first-of-type) {
    margin-left: 7px;
  }
  .clickedColorBox p {
    font-size: 0.3rem;
    opacity: 0;
  }
  .clickedColorBox:hover {
    cursor: pointer;
  }
  
  .prodDetails__prodInfo__price h4 {
    line-height: 0.8rem;
    font-family: "Raleway", sans-serif;
  }
  
  .prodDetails__prodInfo__price h4:not(:last-of-type) {
    font-family: "Roboto condensed";
  }
  
  .prodDetails__prodInfo__button button {
    width: 100%;
    height: 3.25em;
    border: none;
    background-color: #5ece7b;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    color: white;
  }
  
  .prodDetails__prodInfo__button .outOfStock {
    width: 100%;
    height: 3.25em;
    border: none;
    background-color: #a1a5a3;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    color: white;
  }
  
  .prodInfoPage__price {
    font-size: 18px;
  }
  
  .prodDetails__prodInfo__button .inStockButton:hover {
    cursor: pointer;
  }
  
  .prodDetails__prodInfo__button .inStockButton:active {
    box-shadow: 0px 4px 4px #a1a5a3;
  }
  
  .prodDetails__prodInfo__button p {
    text-align: justify;
  }
  
  .desc {
    margin-top: 10px;
  }
  
  @media (max-width: 64em) {
    .mainSection {
      width: 100vw;
    }
    .prodDetails {
      width: 100vw;
      display: grid;
      grid-template-columns: fit-content(95%);
      margin-left: auto;
      margin-right: auto;
    }
    .prodDetails__prodInfo__button button {
      width: 30%;
    }
    .prodDetails__prodInfo__button .outOfStock {
      width: 30%;
    }
    .desc {
      width: 70%;
    }
    .prodDetails__bigImg img {
      width: 28.125em;
      height: 21.9375em;
    }
    .prodDetails__sideImg {
      display: flex;
      justify-content: center;
    }
    .prodDetails__bigImg {
      display: flex;
      justify-content: center;
    }
    .prodDetails__prodInfo__title {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .prodDetails__prodInfo__title h2 {
      align-self: center;
    }
    .prodDetails__prodInfo__title h3 {
      align-self: center;
    }
    .prodDetails__prodInfo__attr {
      display: flex;
      flex-direction: column;
    }
    .prodDetails__prodInfo__attr h4 {
      align-self: center;
    }
    .prodDetails__prodInfo__attr .attrBox {
      align-self: center;
    }
    .prodDetails__prodInfo__price {
      display: flex;
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 0;
    }
    .prodDetails__prodInfo__price h4 {
      align-self: center;
      margin-bottom: 0;
    }
    .prodDetails__prodInfo__price p {
      align-self: center;
      margin-top: 10px;
    }
  
    .prodDetails__prodInfo__button {
      display: flex;
      flex-direction: column;
    }
    .prodDetails__prodInfo__button button {
      align-self: center;
    }
    .prodDetails__prodInfo__button .desc {
      align-self: center;
    }
  }
  
 
  