.cartItem__name {
  margin-top: -15px;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 2em 1fr;

  align-items: center;
  justify-content: center;
  padding: 3px;
}

.cart-content h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.cartItem__price {
  font-size: 0.8rem;
  font-family: "Times New Roman", Times, serif;
}

.col1 {
  margin-top: 0;
  height: 137px;
  margin-top: 20px;
  border: 1px solid black;
  text-align: left;
  padding-bottom: 10px;
  position: relative;
}

.col1 h5 {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.col1 p {
  margin-top: 10px;
  font-size: 16px;
}

.col1 ul {
  padding-left: 0;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}

.col1 ul li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 15px;
  width: 24px;
  height: 24px;
  font-size: 14px;
  border: 0.7px black solid;
  text-align: center;
  padding-top: 3px;
}

.col2 {
  margin-top: 0;
  height: 137px;
  margin-top: 20px;
  border: 1px solid green;
}

.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col2 span:not(:last-child) {
  margin-bottom: 15px;
}

.col2 span:nth-child(3) {
  margin-top: 10px;
}
.col2 span img {
  width: 24px;
  height: 24px;
}

.col2 span {
  font-size: 24px;
}

.col3 {
  margin-top: 0;
  height: 137px;
  margin-top: 20px;
  border: 1px solid red;
}

.col3 img {
  width: 105px;
  height: 137px;
  object-fit: contain;
}
