html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: black;
  line-height: 1.3;
  font-weight: 300;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

/*Start of styles for main section */
.mainSection {
  padding: 2em;
  min-height: 100vh;
  padding-top: 80px;
}

/*End of styles for main section */

/*Start of styles for footer*/
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 0.5rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

/*End of styles for footer*/

/*Start of styles for main layout*/
.mainLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  margin-bottom: 20px;
}
/*End of styles for main layout*/

/*Start of sale item card styles*/
.productCard:hover {
  box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.3);
}
/*End of sale item card styles*/

/*Start of product details page styles*/
.prodDetails {
  width: 68.875em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
  display: grid;
  grid-template-columns: 6.25em 40em 19.5em;
  column-gap: 10px;
  align-items: start;
  justify-content: center;
  min-height: 100vh;
}

.prodDetails__sideImg img {
  width: 4.9375em;
  height: 5em;
  object-fit: contain;
  box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.3);
}

.prodDetails__sideImg img:hover {
  cursor: pointer;
}

.prodDetails__bigImg img {
  width: 38.125em;
  height: 31.9375em;
  object-fit: contain;
  box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.3);
}

.prodDetails__prodInfo {
  width: 100%;
}
.prodDetails__prodInfo__title {
  width: 100%;
}

.prodDetails__prodInfo__title h2 {
  margin-top: 0;
}

.prodDetails__prodInfo__size {
  width: 3.9375em;
  height: 2.8125em;
  border: 1px solid black;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  margin-bottom: 0;
}

.clickedSizeBox {
  background-color: black;
  color: white;
}

.clickedColorBox {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 3px solid red !important;
}

.prodDetails__prodInfo__size h4 {
  margin-top: 11px;
}

.prodDetails__prodInfo__size:hover {
  cursor: pointer;
}

.prodDetails__prodInfo__color {
  width: 3.9375em;
  height: 2.8125em;
  border: 1px solid black;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  margin-bottom: 0;
}

.prodDetails__prodInfo__color p {
  font-size: 0.3rem;
  opacity: 0;
}

.prodDetails__prodInfo__color:hover {
  cursor: pointer;
}

.prodDetails__prodInfo__price h4 {
  line-height: 0.8rem;
  font-family: "Times New Roman", Times, serif;
}

.prodDetails__prodInfo__button button {
  width: 100%;
  height: 3.25em;
  border: none;
  background-color: #5ece7b;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
}
.prodDetails__prodInfo__button button:hover {
  cursor: pointer;
}

.prodDetails__prodInfo__button button:active {
  box-shadow: 0px 4px 4px #a1a5a3;
}

.prodDetails__prodInfo__button p {
  margin-top: 40px;
  text-align: justify;
  height: 180px;
  overflow: auto;
}

@media (max-width: 64em) {
  .prodDetails {
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .prodDetails__prodInfo__button button {
    width: 30%;
  }
  .prodDetails__bigImg img {
    width: 28.125em;
    height: 21.9375em;
  }
}

/*End of product details page styles*/
